/*  TYPOGRAPHY's
/* ------------------------------------ */
/* Fool-proof @font-face */
/* Based on http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/ */
@font-face {
  font-family: FuturaLT;
  src: url("../fonts/FuturaLT.eot");
  src: url("../fonts/FuturaLT.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaLT.woff") format("woff"), url("../fonts/FuturaLT.ttf") format("truetype"), url("../fonts/FuturaLT.svg#FuturaLT") format("svg");
  font-weight: 400;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: FuturaLT;
    src: url("../fonts/FuturaLT.svg#FuturaLT") format("svg");
  }
}
@font-face {
  font-family: FuturaLTB;
  src: url("../fonts/FuturaLT-Bold.eot");
  src: url("../fonts/FuturaLT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaLT-Bold.woff") format("woff"), url("../fonts/FuturaLT-Bold.ttf") format("truetype"), url("../fonts/FuturaLT-Bold.svg#FuturaLTB") format("svg");
  font-weight: 600;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: FuturaLTB;
    src: url("../fonts/FuturaLT-Bold.svg#FuturaLTB") format("svg");
  }
}

/* Typekit font
font-family: "futura-pt";*/

/*  GENERAL SECTION
/* ------------------------------------------ */
html {
  position: relative;
  min-height: 100%;
}

body {
  position: relative;
  height: 100%;
  font-size: 14px;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
a:hover, a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

#preloader {
  z-index: 10001;
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
}

#status {
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one screen */
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  /* is width and height divide by two */
  text-align: center;
}
#status img {
  top: 50%;
  position: relative;
  margin-top: -50px;
  width: 32px;
}

.footer-container,
.header-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1140px;
  clear: both;
}

.space15 {
  width: 100%;
  height: 15px;
}

.space30 {
  width: 100%;
  height: 30px;
}

.space60 {
  width: 100%;
  height: 60px;
}

.list-block {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 1.8;
}

.cb {
  clear: both;
}

.line-sep {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 70px;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  border-radius: 0;
  padding: 6px 24px;
  font-size: 13px;
  letter-spacing: 1px;
}

.btn-line {
  border: 1px solid transparent;
}

.btn-line-white {
  border-color: rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
}
.btn-line-white:hover, .btn-line-white:focus {
  border-color: rgba(179, 28, 32, 0.7);
  color: rgba(179, 28, 32, 0.7);
}

textarea {
  resize: horizontal;
}

.content-contact {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding: 50px 0 70px;
}

.contact-box {
  margin-bottom: 45px;
  position: relative;
}
.contact-box .inside {
  padding: 40px;
  min-height: 780px;
  background-color: rgba(0, 0, 0, 0.7);
}
.contact-box .title-contact {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 0;
  color: white;
}
.contact-box #employement, .contact-box #map {
  height: 245px;
  margin-bottom: 45px;
}
.contact-box #employement img {
  height: 245px;
  width: 100%;
}
.contact-box p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 25px;
}
.contact-box a {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  display: inline-block;
}
.contact-box a:hover, .contact-box a:focus {
  color: rgba(179, 28, 32, 0.8);
  border-bottom: 1px solid rgba(179, 28, 32, 0.8);
}

.list-contact {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.list-contact li {
  display: block;
}
.list-contact li.with-icon {
  margin-bottom: 30px;
}
.list-contact span {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 1.8;
}
.list-contact span.icon-map {
  background-image: url("../img/map-icon.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 19px;
  float: left;
}
.list-contact span.icon-desc {
  position: relative;
  top: -5px;
}
.list-contact span:first-child {
  width: 20px;
  margin-right: 10px;
  display: inline-block;
}
.list-contact a {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  display: inline-block;
}
.list-contact a:hover, .list-contact a:focus {
  color: rgba(179, 28, 32, 0.8);
  border-bottom: 1px solid rgba(179, 28, 32, 0.8);
}

.item-landingpage {
  padding: 0 !important;
  position: relative;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.item-landingpage .subitem-landingpage {
  background-color: transparent;
  display: block;
  height: 100%;
  position: relative;
}
.item-landingpage .subitem-landingpage:hover .info, .item-landingpage .subitem-landingpage:focus .info {
  background-color: transparent;
}
.item-landingpage .subitem-landingpage:hover img, .item-landingpage .subitem-landingpage:focus img {
  opacity: .4;
}
.item-landingpage .caption {
  position: absolute;
  bottom: 0;
  left: 0;
}
.item-landingpage .caption .info {
  color: white;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
  display: block;
  padding: 15px 30px;
  margin: 0px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: background-color 350ms ease, -webkit-transform 350ms ease;
          transition: background-color 350ms ease, transform 350ms ease;
  z-index: 999;
}
.item-landingpage img {
  -webkit-transition: opacity 350ms ease, -webkit-transform 350ms ease;
          transition: opacity 350ms ease, transform 350ms ease;
}
.item-landingpage.onbottom .caption {
  bottom: 35px;
}

/*  PORJECTS DETAIL
/* ----------------------------------------- */
.content-projects-detail {
  position: relative;
  padding-bottom: 25px;
  background-color: black;
}

.project-detail-carousel a {
  display: block;
  background-color: black;
  position: relative;
}
.project-detail-carousel a h2 {
  position: absolute;
  top: 0px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 18px;
  font-size: 21px;
  color: white;
  text-transform: uppercase;
  margin: 0;
  z-index: 99;
}
.project-detail-carousel a:hover img, .project-detail-carousel a:focus img {
  opacity: .8;
}
.project-detail-carousel .item figure {
  display: block;
  overflow: hidden;
}
.project-detail-carousel .item img {
  -webkit-transition: opacity 250ms ease, -webkit-transform 250ms ease;
          transition: opacity 250ms ease, transform 250ms ease;
  height: 300px;
  /*min-width: 400px;*/
}

.item-projects-detail {
  position: relative;
  margin-bottom: 30px;
}
.item-projects-detail .subitem-projects {
  display: block;
}
.item-projects-detail .subitem-projects:hover img, .item-projects-detail .subitem-projects:focus img {
  opacity: .4;
}
.item-projects-detail figure {
  background-color: black;
  display: block;
}
.item-projects-detail figure img {
  width: 100%;
  -webkit-transition: opacity 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
          transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}
.item-projects-detail h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: black;
  margin-top: 30px;
  margin-bottom: 0;
}

/*  NAILS-BANNER
/* ----------------------------------------- */
.nails-carousel .prev-link {
  left: 0;
}
.nails-carousel .next-link {
  right: 0;
}
.nails-carousel .owl-nav .owl-prev,
.nails-carousel .owl-nav .owl-next {
  background-image: none;
  background-color: #b31c20;
  color: white;
  height: 80px;
  width: 40px;
  text-align: center;
  display: block;
  opacity: .6;
  position: absolute;
  top: 35%;
}
.nails-carousel .owl-nav .owl-prev i,
.nails-carousel .owl-nav .owl-next i {
  font-size: 64px;
  line-height: 80px;
}
.nails-carousel .owl-nav .owl-prev:hover, .nails-carousel .owl-nav .owl-prev:focus,
.nails-carousel .owl-nav .owl-next:hover,
.nails-carousel .owl-nav .owl-next:focus {
  opacity: 1;
}
.nails-carousel .owl-nav .owl-prev {
  left: 10px;
}
.nails-carousel .owl-nav .owl-next {
  right: 10px;
}

.nails-carousel .item {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50% 0 0;
}
.nails-carousel .item .title-banner {
  cursor: pointer;
  z-index: 99;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 18px;
  font-size: 21px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0;
}

/*  NAILS-PROJECTS
/* ----------------------------------------- */
.content-nailsproject {
  position: relative;
  margin-top: -20px;
}

.nails-container {
  position: relative;
}

.item-projects {
  padding: 0;
  position: relative;
}
.item-projects .float-title {
  position: absolute;
  top: 0%;
  z-index: 999;
}
.item-projects .float-title h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  margin: 0;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.4);
}
.item-projects a {
  display: block;
  overflow: hidden;
  background-color: black;
}
.item-projects a:hover img, .item-projects a:focus img {
  opacity: .4;
}
.item-projects a img {
  height: 435px;
  width: 100%;
  -webkit-transition: opacity 350ms ease, -webkit-transform 350ms ease;
          transition: opacity 350ms ease, transform 350ms ease;
}

/*  ABOUT
/* ----------------------------------------- */
.internal-header {
  position: relative;
  background-color: black;
}
.internal-header  .image-banner{
  text-align: center;
}

.internal-header-carousel .item-internal {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 250px;
}

.internal-header-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.internal-navigation {
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.internal-navigation ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.internal-navigation ul li {
  display: inline-block;
}
.internal-navigation ul li.active a, .internal-navigation ul li:hover a, .internal-navigation ul li:focus a {
  border-bottom-color: #b31c20;
  color: white;
}
.internal-navigation ul li a {
  display: block;
  margin: 0 45px;
  padding: 15px 5px 10px;
  border-bottom: 5px solid transparent;
  color: rgba(255, 255, 255, 0.6);
}

.box-content-internal-header {
  padding: 90px 0;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.8;
}
.box-content-internal-header p {
  margin-bottom: 45px;
}
@media screen and (max-width: 50em){
  .box-content-internal-header {
    padding-top: 30px;
  }
}

.team-carousel .item-carousel {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  /*padding: 25% 0 15%;*/
}
.team-carousel .content-team {
  background-color: rgba(0, 0, 0, 0.4);
  float: right;
  padding: 20px 60px 20px 50px;
  letter-spacing: 3px;
  text-align: left;

    position: absolute;
    right: 0;
    left: auto;
    bottom: 25%;
    top: auto;
}
.team-carousel .content-team h2, .team-carousel .content-team .title {
  color: white;
}
.team-carousel .content-team h2 {
  margin-top: 0;
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
}
.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
  background-image: none;
  background-color: #b31c20;
  color: white;
  height: 80px;
  width: 40px;
  text-align: center;
  display: block;
  opacity: .6;
  position: absolute;
  top: 35%;
}
.team-carousel .owl-nav .owl-prev i,
.team-carousel .owl-nav .owl-next i {
  font-size: 64px;
  line-height: 80px;
}
.team-carousel .owl-nav .owl-prev:hover, .team-carousel .owl-nav .owl-prev:focus,
.team-carousel .owl-nav .owl-next:hover,
.team-carousel .owl-nav .owl-next:focus {
  opacity: 1;
}
.team-carousel .owl-nav .owl-prev {
  left: 10px;
}
.team-carousel .owl-nav .owl-next {
  right: 10px;
}

/*  CONTACT PAGE
/* ----------------------------------------- */
/*  ARTICLES
/* ----------------------------------------- */
article header {
  margin-bottom: 25px;
}
article header h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 0px;
}
article header h2 a {
  display: block;
  color: black;
}
article header h2 a:hover, article header h2 a:focus {
  color: #0072bc;
}
article header .meta-extra {
  font-size: 13px;
  margin-bottom: 0;
}
article .more {
  color: #0072bc;
}
article .more:hover, article .more:focus {
  color: black;
}

.article-news {
  position: relative;
  margin-bottom: 25px;
}
.article-news .img-content {
  float: right;
}
.article-news .box-content {
  float: left;
}
.article-news .img-content {
  width: 19%;
  margin-left: 1%;
}
.article-news .box-content {
  width: 79%;
  margin-right: 1%;
}

.article-single .img-content {
  width: 29%;
  margin-left: 1%;
}
.article-single .box-content {
  width: 69%;
  margin-right: 1%;
}

/*  HEADER SECTION
/* ------------------------------------------ */
.site-header {
  width: 100%;
  position: relative;
  z-index: 999;
}
.site-header .logo-site {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 888;
}
.site-header .logo-site a {
  display: block;
}

@media screen and (max-width: 570px){
  .logo-site a .logoText{
      width: 300px;
      max-width: none;
  }
  .logo-site a .logoNoText{
        width: 75px;
         max-width: none;
  }
}

.main-navigation {
  float: right;
  margin-top: 40px;
}
.main-navigation ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.main-navigation ul li {
  float: left;
  position: relative;
}
.main-navigation ul li:hover > a, .main-navigation ul li:focus > a, .main-navigation ul li.active > a {
  background-color: rgba(0, 0, 0, 0.7);
}
.main-navigation ul li:hover > a:before, .main-navigation ul li:focus > a:before, .main-navigation ul li.active > a:before {
  display: block;
}
.main-navigation ul li:hover > ul, .main-navigation ul li:focus > ul, .main-navigation ul li.active > ul {
  opacity: 10;
  filter: alpha(opacity=100);
  visibility: visible;
  -webkit-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
}
.main-navigation ul li > a {
  text-transform: uppercase;
  font-family: "FuturaLTB", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  display: block;
  padding: 11px 20px 12px 25px;
  margin: 0 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.1em;
}
.main-navigation ul li > a:before {
  display: none;
  content: "";
  position: absolute;
  left: 15px;
  top: 20px;
  width: 10px;
  height: 10px;
  border-left: 10px solid red;
  border-right: 10px solid tansparent;
  border-top: 10px solid transparent;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.main-navigation ul li > ul {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.5s ease .8s;
          transition: all 0.5s ease .8s;
  position: absolute;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.6);
  top: 130%;
  left: 10px;
  min-width: 230px;
}
.main-navigation ul li > ul li {
  display: block;
  position: relative;
  float: none;
  padding: 5px 10px;
}
.main-navigation ul li > ul li:first-child {
  padding-top: 15px;
}
.main-navigation ul li > ul li:first-child:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 15px;
  border-bottom: 8px solid rgba(0, 0, 0, 0.6);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.main-navigation ul li > ul li:last-child {
  padding-bottom: 15px;
}
.main-navigation ul li > ul li:hover > a, .main-navigation ul li > ul li:focus > a {
  background-color: transparent;
  border-bottom-color: #b31c20;
}
.main-navigation ul li > ul li:hover > a:before, .main-navigation ul li > ul li:focus > a:before {
  border-color: transparent;
}
.main-navigation ul li > ul li > a {
  font-size: 12px;
  font-family: "FuturaLT", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  padding: 2px 0px;
  display: inline-block;
}

/*  RWD-NAVIGATIONS
/* ----------------------------------------- */
.rwd-navigation {
  display: none;
  float: right;
  position: relative;
  z-index: 999;
}

.btn-rwd {
  font-size: 27px;
  color: white;
  display: block;
  height: 55px;
  width: 55px;
  line-height: 55px;
  background-color: black;
  opacity: .6;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.btn-rwd:hover, .btn-rwd:focus {
  background-color: #b31c20;
  opacity: 1;
}

.mobile-nav {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  min-width: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 104%;
  height: auto !important;
  right: 0;
  z-index: 999;
  overflow: scroll;
}

.mobile-nav ul, .mobile-nav li{
  margin: 0;
  padding: 0;
}
.mobile-nav ul.sub-menu{
  display: none;
}
@media screen and (max-width: 32em){
  /*.mobile-nav{
    height: 219px;
  }*/
}
.mobile-nav li {
  display: block;
}
.mobile-nav li:first-child a {
  padding-top: 15px;
}
.mobile-nav li:last-child a {
  padding-bottom: 15px;
}
.mobile-nav li a {
  display: block;
  padding: 7px 15px;
  font-weight: bold;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
}
.mobile-nav li.separator a{
  display: none;
}
.mobile-nav li a:hover, .mobile-nav li a:focus {
  color: white;
}

.rwd-internal-navigation {
  display: none;
  position: relative;
  text-align: center;
  padding: 10px 0;
}

.btn-rwd-internal {
  display: none;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  display: none;
  text-transform: uppercase;
}
.btn-rwd-internal i {
  font-size: 16px;
  margin-right: 5px;
}
.btn-rwd-internal:hover, .btn-rwd-internal:focus {
  color: white;
}

.list-internal {
  display: none;
  list-style: none outside none;
  margin: 0px 0;
  padding: 10px 0;
  left: 0;
  z-index: 99;
  font-size: 12px;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.list-internal a {
  display: block;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
}
.list-internal a:hover, .list-internal a:focus {
  color: white;
}

/*  FOOTER SECTION
/* ------------------------------------------ */
.site-footer {
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  line-height: 35px;
  z-index: 100;
}
.site-footer p {
  margin: 0;
  line-height: 35px;
}

.footer-desc {
  float: left;
}
.footer-desc ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.footer-desc ul li {
  display: inline-block;
  position: relative;
  padding: 0 10px;
}
.footer-desc ul li:first-child {
  padding-left: 0;
}
.footer-desc ul li:last-child:after {
  background-color: transparent;
}
.footer-desc ul li:after {
  content: "";
  position: absolute;
  right: -2px;
  height: 14px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  top: 25%;
}
.footer-desc ul a, .footer-desc ul span {
  display: block;
}
.footer-desc ul a {
  color: rgba(255, 255, 255, 0.8);
}
.footer-desc ul a:hover, .footer-desc ul a:focus {
  color: white;
}
.footer-desc ul span {
  color: rgba(255, 255, 255, 0.7);
}

.footer-nav {
  text-align: center;
}
.footer-nav ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.footer-nav ul li {
  display: inline-block;
}
.footer-nav ul li span, .footer-nav ul li a {
  display: block;
  margin: 0 30px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.footer-nav ul li a:hover, .footer-nav ul li a:focus {
  color: white;
}

.footer-copyright {
  float: right;
  color: rgba(255, 255, 255, 0.7);
}
.footer-copyright a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-copyright a:hover, .footer-copyright a:focus {
  color: white;
}

/*  HOMEPAGE-CAROUSEL
/* ----------------------------------------- */
.item-home,
.item-beforedetail {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  padding: 25% 0;
  display: block;
}
.item-home{
  padding: 0;
}

.home-carousel .owl-nav .owl-prev,
.home-carousel .owl-nav .owl-next,
.beforedetail-carousel .owl-nav .owl-prev,
.beforedetail-carousel .owl-nav .owl-next,
.project-detail-carousel .owl-nav .owl-next,
.project-detail-carousel .owl-nav .owl-prev{
  background-image: none;
  background-color: #b31c20;
  color: white;
  height: 80px;
  width: 40px;
  text-align: center;
  display: block;
  opacity: .6;
  position: absolute;
  top: 45%;
}
.home-carousel .owl-nav .owl-prev i,
.home-carousel .owl-nav .owl-next i,
.beforedetail-carousel .owl-nav .owl-prev i,
.beforedetail-carousel .owl-nav .owl-next i,
.project-detail-carousel .owl-nav .owl-next i,
.project-detail-carousel .owl-nav .owl-prev i{
  font-size: 64px;
  line-height: 80px;
}
.home-carousel .owl-nav .owl-prev:hover, .home-carousel .owl-nav .owl-prev:focus,
.home-carousel .owl-nav .owl-next:hover,
.home-carousel .owl-nav .owl-next:focus,
.beforedetail-carousel .owl-nav .owl-prev:hover,
.beforedetail-carousel .owl-nav .owl-prev:focus,
.beforedetail-carousel .owl-nav .owl-next:hover,
.beforedetail-carousel .owl-nav .owl-next:focus,
.project-detail-carousel .owl-nav .owl-next:hover,
.project-detail-carousel .owl-nav .owl-next:focus,
.project-detail-carousel .owl-nav .owl-prev:hover,
.project-detail-carousel .owl-nav .owl-prev:focus{
  opacity: 1;
}
.home-carousel .owl-nav .owl-prev,
.beforedetail-carousel .owl-nav .owl-prev,
.project-detail-carousel .owl-nav .owl-prev{
  left: 10px;
}
.home-carousel .owl-nav .owl-next,
.beforedetail-carousel .owl-nav .owl-next,
.project-detail-carousel .owl-nav .owl-next{
  right: 0;
}


/*  LINE IN PAGE
/* ----------------------------------------- */
.line-right,
.line-bottom {
  position: absolute;
  z-index: 999;
  overflow: hidden;
}
.line-right:before,
.line-bottom:before {
  content: "";
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #b41c21;
  height: 100%;
  width: 100%;
}

.line-right {
  width: 100% !important;
  height: 5px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  background-color: transparent;
}
.line-right:before {
  left: 100px;
}
@media screen and (min-width: 768px) {
  .line-right:before {
    left: 120px;
  }
}

.line-bottom {
  height: 100%;
  top: 10px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 0;
  width: 5px;
}
.line-bottom:before {
  top: 92px;
}
@media screen and (min-width: 768px) {
  .line-bottom:before {
    top: 124px;
  }
}

@media screen and (max-width: 570px){
  .line-right:before {
   left: 85px;
  }
  .line-bottom:before {
    top: 78px;
  }
}

/*  ON-BACKGROUND-SLIDER
/* ----------------------------------------- */
.on-background-slider {
  position: absolute;
  width: 100%;
}

/*  ON-FULLPAGE
/* ----------------------------------------- */
.on-fullpage .site-header {
  position: absolute;
}

/*  ON-SCROLL
/* ----------------------------------------- */
html{
  overflow-x: hidden;
}
.on-scroll > .logo-site {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
}
.on-scroll .site-header {
  position: absolute;
  top: 0;
  left: 0;
}
.on-scroll .footer-nav {
  position: relative;
}

/*  RWD-NAVIGATIONS
/* ----------------------------------------- */
.rwd-navigation {
  display: none;
  float: right;
  position: relative;
  z-index: 999;
}

.btn-rwd {
  font-size: 27px;
  color: white;
  display: block;
  height: 55px;
  width: 55px;
  line-height: 55px;
  background-color: black;
  opacity: .6;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.btn-rwd:hover, .btn-rwd:focus {
  background-color: #b31c20;
  opacity: 1;
}


.rwd-internal-navigation {
  display: none;
  position: relative;
  text-align: center;
  padding: 10px 0;
}

.btn-rwd-internal {
  display: none;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  display: none;
  text-transform: uppercase;
}
.btn-rwd-internal i {
  font-size: 16px;
  margin-right: 5px;
}
.btn-rwd-internal:hover, .btn-rwd-internal:focus {
  color: white;
}

.list-internal {
  display: none;
  list-style: none outside none;
  margin: 0px 0;
  padding: 10px 0;
  left: 0;
  z-index: 99;
  font-size: 12px;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.list-internal a {
  display: block;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
}
.list-internal a:hover, .list-internal a:focus {
  color: white;
}

/*  MEDIA QUERIES
/* ------------------------------------------ */
@media (max-width: 48em) {
  .item-projects {
    /*float: left;
    width: 100% !important;
    text-align: center;*/
  }
  .item-projects .float-title {
    top: 50%;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .item-projects .float-title h3 {
    max-width: 70%;
    white-space: pre-line;
    line-height: 1.6;
  }
  .item-projects img {
    height: auto !important;
  }
}
@media (max-width: 1050px) {
  .item-home {
   /* padding: 30% 0;
    min-height: 1050px;
    background-position: center center;*/
  }

  .item-landingpage {
    overflow: hidden;
  }
  .item-landingpage img {
    height: 100%;
    min-width: 600px !important;
  }

  .team-carousel .item-carousel {
    /*min-height: 1050px;*/
  }

  .nails-carousel .prev-link,
  .nails-carousel .next-link {
    display: block !important;
    text-align: center !important;
    margin-bottom: 10px !important;
    position: relative !important;
  }
  .nails-carousel .next-link {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 995px) {
  .box-content-internal-header .row-inner > .col-md-4 {
    width: 33.33333%;
    float: left;
  }

  .item-landingpage {
    width: 50%;
    float: left;
  }

  .main-navigation {
    display: none;
  }

  .rwd-navigation {
    display: block;
  }
}
@media (max-width: 950px) {
  .item-projects-detail {
    margin-bottom: 45px;
  }
  .item-projects-detail h3 {
    text-align: center;
  }

  .contact-box .inside {
    min-height: auto;
  }
  .contact-box #employement {
    height: auto;
  }
  .contact-box #employement img {
    height: auto;
    width: 100%;
  }

  .item-home {
    /*padding: 35% 0;*/
  }

  .box-content-internal-header {
    width: 90%;
    margin: auto;
  }

  .item-landingpage {
    overflow: hidden;
  }
  .item-landingpage img {
    height: 100%;
    min-width: 600px !important;
  }
}
@media (max-width: 800px) {
  .project-detail-carousel a figure {
    overflow: hidden;
    display: block;
  }
  .project-detail-carousel a img {
    height: 800px !important;
    width: 950px !important;
  }

  .nails-carousel .item {
    padding: 70% 0 0;
  }
}
@media (max-width: 767px) {
  .project-detail-carousel .title-float {
    font-size: 16px !important;
  }

  .item-home {
    /*padding: 38% 0;*/
  }

  .team-carousel .item-carousel {
    padding: 30% 0 20%;
    min-height: 600px;
  }

  .team-carousel .content-team {
    text-align: center;
    float: none;
    max-width: 300px;
    margin: auto;
    padding: 20px;
  }

  .team-carousel .content-team h2 {
    font-size: 24px;
  }

  .team-carousel .content-team .title {
    font-size: 14px;
  }

  .team-carousel .owl-nav .owl-prev,
  .team-carousel .owl-nav .owl-next {
    height: auto;
    width: auto;
    padding: 15px 10px;
    display: block;
  }
  .team-carousel .owl-nav .owl-prev i,
  .team-carousel .owl-nav .owl-next i {
    font-size: 28px;
    line-height: inherit;
  }

  article header {
    margin-bottom: 10px;
  }

  .article-news .img-content {
    float: left;
    margin-bottom: 30px;
    width: 100%;
  }
  .article-news .img-content a {
    display: inline-block;
  }
  .article-news .box-content {
    width: 100%;
  }

  .box-content-internal-header .row-inner > .col-md-4 {
    width: 100%;
    float: left;
  }

  .internal-header-container .container {
    padding-left: 0;
    padding-right: 0;
  }

  .rwd-internal-navigation {
    display: block;
  }

  .internal-navigation {
    display: none;
  }

  .btn-rwd-internal {
    display: inline-block;
  }

  .item-projects .float-title h3 {
    font-size: 14px;
  }

  .on-scroll .footer-nav a {
    font-size: 12px !important;
    margin: 0 15px;
  }

  .landingpage-container .item-landingpage .info {
    position: absolute;
    min-width: 140px;
    text-align: center;
  }
  .landingpage-container .item-landingpage:nth-child(1) .info {
    right: 0;
    bottom: 0;
  }
  .landingpage-container .item-landingpage:nth-child(2) .info {
    left: 0;
    bottom: 0;
  }
  .landingpage-container .item-landingpage:nth-child(3) .info {
    right: 0;
    top: 0;
  }
  .landingpage-container .item-landingpage:nth-child(4) .info {
    left: 0;
    top: 0;
  }

  .item-landingpage {
    overflow: hidden;
  }
  .item-landingpage img {
    height: 100%;
    min-width: 600px !important;
  }
  .item-landingpage .caption {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: right;
  }
  .item-landingpage .info {
    font-size: 12px;
    padding: 8px 15px !important;
    display: inline-block !important;
  }
  .item-landingpage .info:hover, .item-landingpage .info:focus {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .item-landingpage .info:hover:before, .item-landingpage .info:focus:before {
    display: none !important;
  }

  #prevslide, #nextslide {
    height: 70px;
    width: 35px;
  }
  #prevslide i, #nextslide i {
    font-size: 48px;
    line-height: 70px;
  }

  .site-footer {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer-copyright {
    float: left;
  }

  .logo-site a {
    display: block;
    width: 80%;
  }
}
@media (max-width: 690px) {
  .project-detail-carousel a figure {
    overflow: hidden;
    display: block;
  }
  .project-detail-carousel a img {
    height: 400px !important;
    width: 950px !important;
  }

  .item-home {
    /*min-height: 750px;*/
  }

  .team-carousel .item-carousel {
    min-height: 550px;
  }
}
@media (max-width: 570px) {
  .project-detail-carousel .title-float {
    text-align: center !important;
    margin: 0 auto !important;
    left: 0;
    right: 0;
  }

  .nails-carousel .item {
    padding: 100% 0 0;
  }

  .site-footer {
    text-align: center;
  }

  .footer-desc {
    float: none;
  }
  .footer-desc ul li:after {
    background-color: transparent;
  }

  .footer-copyright {
    float: none;
  }

  .logo-site a {
    display: block;
    width: 60%;
  }

  .btn-rwd {
    font-size: 18px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    margin-top: 20px;
  }

  #supersized li {
    overflow: hidden;
  }

  #supersized li img {
    width: 100%;
    position: fixed !important;
    min-width: 700px !important;
  }

  .box-content-internal-header {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .team-carousel .content-team {
    text-align: center;
    float: none;
    max-width: 250px;
    margin: auto;
    padding: 20px;
  }

  .team-carousel .content-team h2 {
    font-size: 21px;
  }

  .team-carousel .content-team .title {
    font-size: 12px;
  }
}
