<footer id="footer">
	<div class="container">
		<div class="sc-row">
			<div class="foot-nav">
				<ul>
					<li><a href="#">Children’s Health</a></li>
					<li><a href="#">Education</a></li>
					<li><a href="#">Veterans</a></li>
					<li><a href="#">Arts</a></li>
					<li><a href="#">Neighbors</a></li>
					<li><a href="#">Lyme Disease</a></li>
				</ul>
			</div><!-- Foot nav -->

			<div class="foot-nav foot-nav-main">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Founder</a></li>
					<li><a href="#">Grantess</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div><!-- Foot nav -->

			<div class="logo-foot">
				<figure><a href="#"><img src="assets/img/logo_foot.png" alt=""></a></figure>
			</div>

			<div class="foot-right">
				<div class="foot-share">
					<span class="text">Connect with us:</span>
					<a href="#" class="share-round"><i class="fa fa-facebook"></i></a>
					<a href="#" class="share-round"><i class="fa fa-twitter"></i></a>
					<a href="#" class="share-round"><i class="fa fa-google-plus"></i></a>
				</div>
				<p class="copyright"> &copy; 2014 Copyright Steven & Alexandra Cohen Foundation</p>
			</div>
		</div>
	</div>
</footer> <!-- //FOOTER -->
