  <header id="header">
  	<div class="container">
	  	<div class="header-top">
	  		<div id="logo">
	  			<a href="#"><img src="assets/img/logo.png" alt=""></a>
	  		</div>
	  		<div class="head-share">
				<a href="#" class="share-round"><i class="fa fa-facebook"></i></a>
				<a href="#" class="share-round"><i class="fa fa-twitter"></i></a>
				<a href="#" class="share-round"><i class="fa fa-google-plus"></i></a>
	  		</div>
	  	</div><!-- //header-top -->
  	</div>
  	{{>navigation}}
  </header> <!-- HEADER -->


  
