<div class="navwrap">
    <div class="container">
        <nav class="nav">
        	<ul>
        		<li><a href="index.html">Children’s Health</a></li>
                <li><a href="">Education </a></li>
                <li><a href=""> Veterans</a></li>
                <li><a href="">Arts</a></li>
                <li><a href="">Neighbors</a></li>
                <li {{#is basename "teampage"}} class="active"{{/is}}><a href="teampage.html">Lyme Initiative</a></li>
                <li><a href="">About Us</a>
                     <ul>
                        <li><a href="">Founders</a> </li>
                        <li><a href="">Grantees</a> </li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Contact</a></li>
                      </ul>
                </li>
        	</ul>
        </nav><!-- //Navigation -->
        <form id="searchform" name="" method="get" action="">
            <input class="srcInput" type="text" name="" placeholder="Search" >
        </form>
    </div>
</div>
<a href="javascript:void(0)" class="btn-rwd-sidebar"><i class="fa fa-bars"></i></a>