<div class="intro">
    <div class="container">
        <div class="intro-text">
            <p class="intro-title">Lyme Disease</p>
            <p>To date, the Steven & Alexandra Cohen Foundation has committed over $60 million for more than 20 Lyme disease projects. Over the next five years, the Foundation will track the progress of these grants while selectively seeking out new investment opportunities to combat this complex illness.</p>
        </div>
    </div>
</div><!-- //INTRO -->

<div id="main" role="main" >
	<div class="rowsection bg-gray">
        <div class="subscribe-wrap">
            <div class="content-text">
                <p>Yme disease is one of the largest and fastest-growing diseases in the US. Our initiative is inspired by Alex Cohen’s personal struggle with Lyme disease, and we are committed to raise awareness, advance research and to find a cure.</p><p>Our Lyme Disease Initiative will also demonstrate the impact of this disease on vulnerable communities and educate healthcare providers on the latest tools to diagnose and treat Lyme disease.</p>
            </div>
            <div class="subscribe">
                <h3>Sign up to receive updates on our latest developments</h3>
                <form name="">
                    <div class="form-group sb-input-3">
                        <input type="text" name="" placeholder="First Name" class="form-control">
                    </div>
                    <div class="form-group  sb-input-3">
                        <input type="text" name="" placeholder="Last Name" class="form-control">
                    </div>
                    <div class="form-group  sb-input-3">
                        <input type="email" name="" placeholder="Email Address" class="form-control">
                    </div>
                    <div class="form-group sb-input-1">
                        <input type="text" name="" placeholder="Zip" class="form-control">
                    </div>
                    <div class="form-group  sb-input-3">
                        <input type="submit" class="btn-red" value="Subscribe">
                    </div>
                </form>
            </div>
        </div>
    </div><!-- //subscribe-wrap -->

    <div class="rowsection">
        <div class="container">
            <section class="slideMain">
                <ul class="slideMain-holder">
                  <li>
                        <div class="slidemain-item">
                            <figure class="slideitem-thumb"><img src="assets/img/slide1.jpg" alt=""></figure>
                            <div class="desc">
                                <h5>What is Lyme disease?</h5>
                                <p>Lyme disease is transmitted solely by a deer tick bite. The risk of contracting the disease increases the longer the tick is attached to the body. The tick must already be infected with it; otherwise, Lyme disease does not spread like a traditional virus.</p>
                            </div>
                        </div>
                  </li>
                  <li>
                    <div class="slidemain-item">
                        <figure class="slideitem-thumb"><img src="assets/img/slide2.jpg" alt=""></figure>
                        <div class="desc">
                            <h5>Prevention</h5>
                            <ul class="list-slide">
                                <li>Avoid grassy and wooded areas, - especially from May-July</li>
                                <li>Cover your body when entering these areas</li>
                                <li>Inspect your body for ticks after spending - time outdoors</li>
                                <li>If found, remove tick with fine-tipped ...tweezers and slowly pull straight out</li>
                            </ul>
                        </div>
                    </div>
                  </li>
                  <li>
                    <div class="slidemain-item">
                        <figure class="slideitem-thumb"><img src="assets/img/slide3.jpg" alt=""></figure>
                          <div class="desc">
                            <h5>Diagnosis</h5>
                             <p>Early warning signs of Lyme disease can include a spreading, circular rash, flu-like symptoms and joint pain. If you think you may have Lyme disease, see your doctor right away. Blood tests and a physical exam can confirm the diagnosis, and starting treatment early can help you avoid more serious symptoms like chronic arthritis and inflammation of the heart muscle.</p>
                         </div>
                    </div>
                  </li>
                  <li>
                    <div class="slidemain-item">
                        <figure class="slideitem-thumb"><img src="assets/img/slide4.jpg" alt=""></figure>
                        <div class="desc">
                            <h5>Treatment</h5>
                            <p>While there is no vaccine for Lyme disease, antibiotics are generally effective when taken in early stages of the illness. Early diagnosis is crucial as more advanced cases of Lyme disease may require long- term, intravenous antibiotics.</p>
                        </div>
                    </div>
                  </li>                         
                </ul>
            </section><!-- //slideMain -->
        </div>
    </div><!-- //rowsection -->

     <div class="explore bg-gray">
         <div class="container">
            <h4>You can explore the many ways we’re working to combat Lyme Disease.</h4>

            <div class="filterwrap">
                <div class="filternav">
                    <ul id="filNav">
                        {{~#filternav}}
                            <li><a href="#" class="{{id}}">{{text}}</a></li>  
                        {{~/filternav}}
                    </ul>
                </div><!-- //filternav -->

                <div class="filtercontent">
                    <ul class="filterHolder">
                        {{~#filterItem}}
                        <li class="ftitem {{filTarget}} eqHeight">
                            <h3>{{title}}</h3>
                            <div class="content-text">
                                <p>{{desc}}</p>
                            </div>
                        </li>
                        {{~/filterItem}}
                    </ul>
                </div>
            </div> <!-- //filterwrap -->
         </div>
     </div><!-- //rowsection-gray -->

     <div class="rowsection">
        <div class="container">
            <div class="sc-row">
                <div class="newsudpate">
                    <div class="inside">
                        <h3 class="title-red">News and Updates</h3>
                        <div class="news-grey">
                            <ul>
                                {{~#news}}
                                    <li class="newsitem">
                                        {{#isnt status true}}
                                            <a href="#">
                                                <h5>{{title}}</h5>
                                                <div class="content-text">
                                                    <p>{{desc}}</p>
                                                </div>
                                                <span class="metadate">{{date}}</span>
                                            </a>
                                        {{else}}
                                            <a href="#">
                                                <figure class="thumnews"><img src="assets/img/thumb_news.jpg"></figure>
                                                <div class="desc">
                                                    <h5>{{title}}</h5>
                                                    <div class="content-text">
                                                        <p>{{desc}}</p>
                                                    </div>
                                                    <span class="metadate">{{date}}</span>
                                                </div>
                                            </a>
                                        {{/isnt}}
                                    </li>                            
                                {{~/news}}
                            </ul>
                        </div>
                    </div>
                </div><!-- //newsudpate -->

                <div class="impact">
                    <h3 class="title-red">Our Impact</h3>
                    <div class="impact-slide">
                        <ul class="impaSlide">
                            <li>
                                <div class="impact-item">
                                    <div class="implogo">
                                        <ul>
                                            <li><img src="assets/img/logo_other.png"></li>
                                            <li><img src="assets/img/logo_other2.png"></li>
                                        </ul>
                                    </div>
                                    <div class="content-text">
                                        <p>"The support of our work by Steven & Alexandra Cohen Foundation is so critical to patients and to the field of Lyme disease. We believe this will be a win-win for all of us."
                                        <span class="imp-author">— Dr. Ying Zhang</span> </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="impact-item">
                                    <div class="implogo">
                                        <ul>
                                             <li><img src="assets/img/logo_other2.png"></li>
                                            <li><img src="assets/img/logo_other.png"></li>
                                        </ul>
                                    </div>
                                    <div class="content-text">
                                        <p>"The support of our work by Steven & Alexandra Cohen Foundation is so critical to patients and to the field of Lyme disease. We believe this will be a win-win for all of us."
                                        <span class="imp-author">— Dr. Ying Zhang</span> </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- //impact -->

            </div> <!-- //sc-row -->
        </div>
     </div><!-- //rowsection -->
</div> <!-- //MAIN -->
  