<div id="main" role="main" >
    <div class="fullwrap">
       
            <div class="team-wrapper">
                <div class="container">
                    <h2 class="title-md-red">Meet Our Team</h2>
                    <ul id="teamPager" class="team-pager">
                        <li>
                            <figure class="tm-thumb-md"><a data-slide-index="0" href="#" class="modalTogl"><img src="assets/img/team1.jpg"></a></figure>
                            <figure class="tm-thumb-md"><a data-slide-index="1" href="#" class="modalTogl"><img src="assets/img/team2.jpg"></a></figure>
                        </li>
                        <li>
                            <figure class="tm-thumb-md"><a data-slide-index="2" href="#" class="modalTogl"><img src="assets/img/team3.jpg"></a></figure>
                            <figure class="tm-thumb-md"><a data-slide-index="3" href="#" class="modalTogl"><img src="assets/img/team4.jpg"></a></figure>
                            <figure class="tm-thumb-md"><a data-slide-index="4" href="#" class="modalTogl"><img src="assets/img/team5.jpg"></a></figure>
                        </li>
                        <li>
                            <figure class="tm-thumb-lg"><a data-slide-index="5" href="#" class="modalTogl"><img src="assets/img/team6.jpg"></a></figure>
                        </li>
                    </ul>
                    <div class="modal-box">
                        <div class="container">
                            <div class="inside">
                                <span class="modalClose targetScroll"><img src="assets/img/close_icon.png" alt=""></span>
                                <ul class="teamSlider">
                                  <li>
                                      <article class="teamSlider-text">
                                        <header>
                                            <h4 class="name">Staff Name</h4>
                                            <span class="as">Title Goes Here</span>
                                        </header>
                                        <div class="desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus  accusantium doloremque laudantium, totam rem aperiam,.eaque ipsa quae ab illo.</p>
                                        </div>
                                      </article>
                                  </li>
                                  <li>
                                      <article class="teamSlider-text">
                                        <header>
                                            <h4 class="name">Staff Name</h4>
                                            <span class="as">Title Goes Here</span>
                                        </header>
                                        <div class="desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                        </div>
                                      </article>
                                  </li>
                                  <li>
                                      <article class="teamSlider-text">
                                        <header>
                                            <h4 class="name">Staff Name</h4>
                                            <span class="as">Title Goes Here</span>
                                        </header>
                                        <div class="desc">
                                            <p>Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus  accusantium doloremque laudantium, totam rem aperiam,.eaque ipsa quae ab illo.</p>
                                        </div>
                                      </article>
                                  </li>
                                  <li>
                                      <article class="teamSlider-text">
                                        <header>
                                            <h4 class="name">Staff Name</h4>
                                            <span class="as">Title Goes Here</span>
                                        </header>
                                        <div class="desc">
                                            <p>In reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus  accusantium doloremque laudantium, totam rem aperiam,.eaque ipsa quae ab illo.</p>
                                        </div>
                                      </article>
                                  </li>
                                  <li>
                                      <article class="teamSlider-text">
                                        <header>
                                            <h4 class="name">Staff Name</h4>
                                            <span class="as">Title Goes Here</span>
                                        </header>
                                        <div class="desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                                        </div>
                                      </article>
                                  </li>
                                  <li>
                                      <article class="teamSlider-text">
                                        <header>
                                            <h4 class="name">Staff Name</h4>
                                            <span class="as">Title Goes Here</span>
                                        </header>
                                        <div class="desc">
                                            <p>Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                                        </div>
                                      </article>
                                  </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- Modal Box -->
                </div>
            </div><!-- Team -->
            
        </div>
    </div>
</div> <!-- //MAIN -->
  