/** FOOTER
===================================*/
#footer{
	padding: 50px 0;
}
.foot-nav{
	@include make-md-column(3);
	margin-bottom: 40px;
	@media screen and (min-width: 38em){
		width: 48%;
		float:left
	}
	@media screen and(min-width: 62em){
		width: 23%;
		margin-bottom: 0;
	}
	

	ul{
		li{
			display: block;
			margin-bottom: 3px;

			@media screen and (max-width: 62em){
				border-bottom :1px solid #bdbdbd;
				padding-bottom: 5px;
			}

			a{
				color: black;
				&:hover{
					color: #ee1c25;
					text-decoration: none;
				}
			}
		}
	}
}

.foot-nav-main{
	ul{
		li{
			margin-bottom: 9px;
		}
	}
}

.logo-foot{
	width: 111px;
	padding: 0 15px;
	margin: 30px auto 15px;
	@media screen and (min-width: 62em){
		float: left;
		margin: 0;
	}
}

.foot-right{
	text-align: center;
	@include make-md-column(4);
	@media screen and (min-width: 62em){
		float: right !important;
		text-align: right;
	}
}

.foot-share{
	margin-bottom: 10px;
	@media screen and (min-width: 62em){
		margin-bottom: 40px;
	}
	.text{
		display: block;
		margin-bottom: 12px;
	}

	.share-round{
		@include square(50px);
		font-size: 27px;
		line-height: 33px;
	}
}

.copyright{
	font-size: 0.8em;
}