body{
	background: $body-bg;
	font: $font-size $primary-font;
	line-height: 1.6em;
	color: $text-color;
	font-weight: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;	
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}

*:focus{
	outline: 0;
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/** WRAPPER and For Responsive nav To work properly
===================================*/
.wrapper{
	width: 100%;
	position: relative;
	@include clearfix();
	.wrapper-inner{
		transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
		position: relative;
		width: 100%;
		display: block;
		margin-right: 0;
	}
	.mask-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( black, .15 );
		z-index: -1;
		opacity: 0;
		transition: all 350ms ease;
	}
	.wrapper-active{
		margin-right: -60%;
		float: right;
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
	.on-active-right{
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
}

/** SPACE
===================================*/
$spacer:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

/** TITLE
===================================*/
.title-red{
	margin: 0;
	color:  #ee152d;
	font-size: 23px;
	margin-bottom: 25px;
	font-weight: 700;
}

/** BUTTON AND LINKS
===================================*/
.btn-red{
	background: none;
	border: none;
	background: #f7201b;
	color: white;
	text-align: center;
	@include inline-block();
	font-weight: 700;
	font-size: 16px;
	padding: 7px 25px;
	@include prefixed(transition, all 0.3s linear);
	min-width: 150px;
	@include box-shadow(0 0 10px #e5e6e6);
	&:hover, &:focus{
		text-decoration: none;
		background: black;
		color: white;
	}
}

.bg-gray{
	background-color: #f1f2f2;
}

.rowsection{
	@include clearfix();
	padding: 50px 0;
}

/** SHARE
===================================*/
.share-round{
	@include inline-block();
	color: white;
	background-color: #bdbdbd;
	@include border-radius(100%);
	padding: 6px 10px;
	text-align: center;
	@include square(38px);
	margin: 0 4px;
	@include prefixed(transition, all 0.3s linear);
	font-size: 20px;

	&:last-child{
		margin-right: 0;
	}

	.fa{
		vertical-align: middle;
	}

	&:hover{
		color: white;
		background-color: #ee1c25;
		text-decoration: none;
	}
}
/** FORM
===================================*/
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .form-control::-moz-placeholder {
    color: #999999;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #999999; }
  .form-control::-webkit-input-placeholder {
    color: #999999; }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eeeeee;
    opacity: 1; }