/** HEADER
===================================*/
#header{
	padding: 25px 0 0;

	.container{
		position: relative;
	}
}
.header-top{
	padding-bottom: 20px;
}
#logo{
	width: 156px;
	margin: 0 auto 15px;
}
.head-share{
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
	@media screen and (min-width: 62em){
		position: absolute;
		right: 15px;
		top: 20%;
		text-align: right;
	}
}

/*====== SERACH ======*/
#searchform{
	margin: 10px 0;
	text-align: center;
	@media screen and(min-width: 62em){
		float: right;
		position: relative;
		text-align: right;
	}
	.srcInput{
		width: 10px;
		color: transparent;
		cursor: pointer;
		background: transparent image-url('src.png') no-repeat 95% center;
		padding: 6px 12px;
		padding-right: 25px;
		@include background-size(15px auto);
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all .5s;
		border: none;
		text-align: left;
		&:focus {
			width: 200px;
			color: #000;
			background-color: #fff;
			background-color: darken(#e6e6e6, 3%);
		}
	}
}
#demo-b input:-moz-placeholder {
	color: transparent;
}
#demo-b input::-webkit-input-placeholder {
	color: transparent;
}