/** INTRO
===================================*/
.intro{
	background: image-url('banner.jpg') center center no-repeat;
	@include background-size(cover);
	padding: 8% 0;
	.intro-text{
		color: white;
		background-color: rgba(0, 0, 0, 0.1);
		font-size: 24px;
		max-width: 570px;
		padding: 20px;
		@media screen and (min-width: 62em){
			float: right;
		}
		.intro-title{
			margin-bottom: 20px;
		}
	}
}


/** SUBSCRIBE SECTION
===================================*/
.subscribe-wrap{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 15px;
	@include clearfix();

	.content-text{
		font-size: 22px;
		line-height: 1.4em;
	}
}
/*====== SUBSCRIBE FORM ======*/
.subscribe{
	margin-bottom: 20px;
	padding-top: 30px;
	@include clearfix();
	h3{
		margin: 0;
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 22px;
		text-align: center;
		font-size: 22px;
	}
	.form-group{
		padding-left: 0;
		&.sb-input-3{
			@include make-md-column(3);
			@media (min-width: 992px){
				 width: 22%;
				 padding-left: 0;
			}
		}
		&.sb-input-1{
			position: relative;
			min-height: 1px;
			padding-left: 15px;
			padding-right: 15px;
			@media (min-width: 992px){
			 	width: 12%;
			 	float: left;
			 	padding-left: 0;
			}
		}
	}
	
	.form-control{
		@include border-radius(0);
		background-color: #ffffff;
		border: none;
		@include box-shadow(0 0 10px #e5e6e6);
		height: 38px;
	}

	.btn-red{
		min-width: 0;
		@media screen and (min-width: 62em){
			width: 100%;
		}
	}
}

/** MAIN SLIDE
===================================*/
.slideMain{
	.bx-viewport{
		background-color: #f1f2f2;
		@media screen and (min-width: 50em){
			max-width: 87%;
			margin: 0 auto;	
		}
	}

	.bx-wrapper{
		.bx-prev{
			background: image-url('slide-arr-left.png')	0 0 no-repeat;
		}
		.bx-next{
			background: image-url('slide-nav-right.png') 0 0 no-repeat;
		}
		.bx-controls-direction {
			a{
				height: 48px;
			}
		}
		@media screen and (max-width: 48em){
			.bx-prev, .bx-next{
				display: none;
			}
		}
	}
	.slide-text{
		text-align: center;
		h1{
			margin: 0;
			font-size: 50px;
			color: #ee152d;
			font-weight: 300;
			@media screen and (min-width: 62em){
				font-size: 11em;
				line-height: 0.8em;
			}
		}
		p{
			font-size: 25px;
			line-height: 1.3em;
			@media screen and (min-width: 62em){
				font-size: 30px;
			}
		}
	}

	.slidemain-item{
		@include clearfix();
		text-align: center;
		padding: 20px 30px;
		@media screen and (min-width: 50em){
			text-align: left;
			padding: 4% 12%;
		}
		.slideitem-thumb{
			max-width: 220px;
			overflow: hidden;
			margin: 0 auto 20px;
			@media screen and (min-width: 50em){
				float: left;
				margin: 0;
				    margin-right: 8%;
			}
		}

		.desc{
			overflow: hidden;
			font-size: 18px;
			padding-top: 30px;

			h5{
				margin: 0;
				margin-bottom: 8px;
				font-size: 18px;
				font-weight: 700;
				color: black;
			}
		}
	}
}

.list-slide{
	li{
		display: block;
		padding-left: 10px;
		position: relative;
		&:before{
			content: "-";
			@include inline-block();
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}


.explore{
	@include clearfix();
	padding: 40px 0;
	h4{
		margin: 0;
		font-weight: normal;
		font-size: 23px;
		margin-bottom: 40px;
		text-align: center;
	}
}

.filterwrap{

}

.filternav{
	text-align: center;
	margin-bottom: 30px;
	ul{
		li{
			@include inline-block();
			background-color: #ffffff;
			@include box-shadow(0 0 10px #e5e6e6);
			margin: 0 7px 10px;
			@include prefixed(transition, all 0.3s linear);
			@media screen and (max-width: 45em){
				display: block;
				width: 100%;
				border-bottom: 1px solid #cecece;
				@include box-shadow(0);
				text-align: left;
				margin: 0;
			}
			a{
				font-size: 13px;
				font-weight: 700;
				display: block;
				padding: 5px 20px;
				color: #231f20;
			}

			&:hover, &.active{
				background-color: #404040;
				a{
					color: white;
					text-decoration: none;
					&:active, &:focus{
						text-decoration: none;
					}
				}
			}
		}
	}
}

.filterHolder{
	text-align: center;
}
.ftitem{
	@include inline-block();
	background-color: white;
	@include box-shadow(0 0 10px #e5e6e6);
	width: 45%;
	vertical-align: top;
	text-align: left;
	margin: 0 15px 30px;
	@media screen and(min-width: 62em){
		width: 20%;
		margin-right: 15px;
	}
	@media screen and (max-width: 48em){
		width: 100%;
		display: block;
		margin: 0 0 30px;
		h3{
			min-height: auto;
		}
	}

	h3{
		margin: 0;
		font-size: 14px;
		padding: 1em 0.8em;
		color: white;
		background-color: #404040;
		font-weight: 700;
		@include min-height(64px);
		@include inline-block();
		width: 100%;
		text-align: left;
	}

	.content-text{
		background-color: white;
		font-size: 13px;
    	line-height: 1.2em;
    	padding: 22px 15px;
	}
}


/** NEWS / UPDATE  & IMPACT
===================================*/
.sc-row{
	@include make-row();
}
.newsudpate{
	@include make-md-column(6);
	margin-bottom: 25px;
	.inside{
		@media screen and (min-width: 62em){
			width: 95%;
		}
	}
	.newsitem{
		display: block;
		padding: 0 10px 15px;
		font-size: 13px;
		line-height: 1.4em;
		border-bottom: 1px solid #f9f9f9;
		margin-bottom: 15px;

		&:last-child{
			border: none;
			padding-bottom: 0;
		}

		a{
			color: black;
			&:hover{
				text-decoration: none;
			}
		}

		h5{
			margin: 0;
			font-weight: 700;
			font-size: 13px;
			color: #000000;
			margin-bottom: 4px;
		}

		p{
			margin-bottom: 5px;
		}

		.thumnews{
			margin-bottom: 15px;
			@media screen and (min-width: 48em){
				float: left;
				margin-right: 20px;
			}
		}

		.desc{
			overflow: hidden;
		}
	}
}
.news-grey{
	background-color: #f1f2f2;
	padding: 25px 10px 8px;
}

.impact{
	@include make-md-column(6);
}
.impact-slide{
	.bx-wrapper{
		background-color: #f1f2f2;
		.bx-pager{
			bottom: -48px;
			&.bx-default-pager a{
				width: 15px;
				height: 15px;
				@include border-radius(100%);

				&:hover, &.active{
					background: #ee152d;
				}
			}
		}
	}
}
.impact-item{
	padding: 20px 25px;
	@media screen and (min-width: 50em){
		padding: 55px 30px 40px;
	}
	.implogo{
		margin-bottom: 15px;
		text-align: center;
		ul{
			li{
				display: block;
				margin-bottom: 15px;
				text-align: center;
				@include inline-block();
				width: 47%;
				padding: 0 10px;
				@media screen and (min-width: 42em){
					width: auto;
					margin-right: 15px;
						&:last-child{
						margin-right: 0;
					}
				}
				
			}
		}
	}
}

