/** MAIN NAV
===================================*/
.navwrap{
    background-color: #f6f6f6;   
    border-top: 1px solid #e6e6e6;
}
  .nav{
    display: none;
    text-align: center;
    @media screen and (min-width: 50em) {
      display: block;
    }
     @media screen and (min-width: 62em) {
       text-align: left;
        float: left;
     }

    ul {
       zoom:1;
       width: 100%;
       /*height:51px;*/
       list-style:none;
       margin:0;
       padding:0;

        li{
             @include inline-block();
            a {
                padding: 10px 18px;
                display: block;
                font-size: 15px;
                color: black;
                @media screen and(min-width: 62em){
                   padding: 15px 25px;
                }

                @media screen and (min-width: 800px) and (max-width: 1200px){
                  padding-right: 10px;
                  padding-left: 10px;
                }
              }

              &:first-child{
                a{
                  padding-left: 0;
                }
              }

              &:hover > a, &.active > a {
                color: #ee1c25;
                text-decoration: none;
              }

              ul {
                height:auto;
                border:0;
                position: absolute;
                max-width: 200px;
                z-index: 80;
                display:none;
                margin:0;
                padding:0;
                background: #1cbbb4;
                color: white;
                margin-left: 25px;
                @include box-shadow(0 0 8px #7c7c7c);

                  a  {
                      padding: 8px 15px !important;
                      _height: 10px; /*IE6 only*/
                      display: block;
                      float: none;
                      text-transform: none;
                      font-size: 1em;
                      color: white;
                    }
              } 

              li {
                float: none;
                display: block;
                border: 0;
                text-align: left;
                &:hover{
                   background-color: darken(#1cbbb4, 10%);
                  a{
                     color: white !important;
                  }
                  &:first-child > a:after{
                    border-bottom-color: darken(#1cbbb4, 10%);
                  }
                }

                &:last-child {
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                  }
              }
          } 
      }
  }

  /*arrow*/
  .nav ul ul li:first-child > a {
     @include border-radius(8px 8px 0 0)
  }
  .nav ul ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 0;
    top: -18px;
    width: 0;
    height: 0;
    border-bottom: 20px solid #1cbbb4;
    border-right: 20px solid transparent;
  }

  /*====== HUMBERBER BUTTON ======*/
  .btn-rwd-sidebar{
    display: block;
    margin-top: 0;
    float: right;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #50555a;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    @media screen and (min-width: 50em){
      display: none;
    }
  }

/*====== RESPONSIVE MENU ======*/

.close-sidebar{
  text-align: right;
}
.nav-rwd-sidebar{
  width: 60%;
  z-index: 999;
  background-color: #50555a;
  position: fixed;
  height: 100%;
  transition: all 500ms ease;
  padding: 15px 0 30px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  .nav-sidebar{
    margin-top: 50px;
  }
  ul{
    list-style: none outside none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    li{
      a, span{
        // font-family: $roboto;
        font-size: 13px;
        text-transform: capitalize;
        padding: 8px 15px;
        display: block;
        font-weight: 600;
      }
      a{
        &:hover,
        &:focus{
          color: white;
          background-color: #313131;
          text-decoration: none;
        }
      }
    }
  }
}

.nav-rwd-sidebar{
   margin-left: -60%;
  .btn-hide{
    margin-left: 30px;
    margin-top: 20px;
    height: 42px;
    width: 42px;
    @include inline-block();
    text-align: center;
    line-height: 42px;
    background-color: #313131;
    color: white;
    box-shadow: inset 0 0 0 2px #313131;

    &:hover,
    &:focus{
      background-color: transparent;
      color: #c1c1c1;
    }
  }
  &.sidebar-active{
    margin-left: 0;
  }
  ul{
    li{
      a, span{
        padding-left: 30px;
        color: white;
      }
      &:hover,
      &:focus{
        a{
          color: #f1f1f1;
        }
      }
    }
  }
}
