/** TEAMPAGE
===================================*/

.fullwrap{
	@include clearfix();
	padding: 50px 0;
	background-color: #f6f6f6;
	border-top: 1px solid #e6e6e6;
	position: relative;
	overflow: hidden;
}
.title-md-red{
	font: 28px 'Karla', sans-serif;
	margin: 0;
	margin-bottom: 50px;
	font-weight: 700;
	color: #ef1c25;
	text-align: center;

	@media screen and (min-width: 38em){
		font-size: 35px ;
	}
}

.team-wrapper{
	

}

	ul.team-pager{
		li{
			display: block;
			text-align: center;
			margin-bottom: 20px;
		}

		.tm-thumb-md{
			@include inline-block();
			vertical-align: top;
			padding: 0 15px;
			margin-bottom: 20px;
			max-width: 220px;
			overflow: hidden;
		}
		.tm-thumb-md{
			@extend .tm-thumb-md;
			max-width: 740px;
		}
	}


.modal-box{
	position: absolute;
	left: 0;
	bottom: -100%;
	width: 100%;
	height: 100%;
	background-color: rgba(#404040, 1);
	color: white;
	@include prefixed(transition, all 0.3s linear);

	&.show{
		bottom: 0;
	}
	
	.inside{
		width: 100%;
		max-width: 1180px;
		margin: 0 auto;
		padding: 4% 0 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	}

	 .bx-wrapper {
	 	.bx-controls-direction a{
	 		height: 48px;
	 	}
	 	.bx-viewport {
			max-width: 85%;
			margin: 0 auto;
		}

	 	.bx-prev {
	 		background: url('../img/slide-arr-left.png?1448440863') 0 0 no-repeat;
	 	}
	 	.bx-next {
    		background: url('../img/slide-nav-right.png?1448440898') 0 0 no-repeat;
		}
	 }
}
.teamSlider-text{
	font-size: 22px;
	header{
		margin-bottom: 20px;
	}
	h4{
		margin: 0;
		font-weight: 700;
		font-size: 25px;
	}
	.as{
		font-size: 0.8em;
		font-style: italic;
	}
}

.modalClose{
	display: block;
	@include square(33px);
	position: absolute;
	right: 20px;
	top: -50px;
	z-index: 100;
	cursor: pointer;
}
